@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.containerCarrinho{
    background-color:black;
    font-family: "Inter", sans-serif;
}

.carrinho{
    background-color: #18181B;
    position: fixed;
    right: 0;
    width: 30vw;     
    height: 100%;  
    display: flex;
    flex-direction: column;
}

.carrinho-quant{
    color: #E4E4E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0.7rem;
    font-size: 1.1rem;
    border-bottom: #A1A1AA 1px solid;
}


.carrinho-itens{
    flex: 1;
    overflow-y: auto; 
    padding: 5px 0.7rem;
      
}
.iten{
    display: flex;
    gap: 1.3rem;
    color: #E4E4E7;
    font-size: 0.9rem;
    padding: 10px 0;
}

.imagemProduto {
    width: 8rem;
    height: 7rem;
}

.preco{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 1rem;
}

.btn-incluir{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.mais{
    padding: 6px 12px;
    font-size: 1.2rem;
    background-color: #18181B;
    color: #A855F7;
    border: #A855F7 2px solid;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.menos{
    padding: 6px 14px;
    font-size: 1.2rem;
    background-color: #18181B;
    color: #A855F7;
    border: black 2px solid;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}



.carrinho-total{
    display: flex;
    flex-direction: column;
    color: #E4E4E7;
    border-top: #A1A1AA 1px solid;
    height: 34vh;
    padding: 10px 1rem;
}

.valor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.cupom{
    display: flex;
    justify-content: end;
    align-items: center;
    color: #A855F7;
    gap: 5px;
    cursor: pointer;
}

.finalizar{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}
.btn-finalizar{
    color: #E4E4E7;
    font-size: 1.5rem;
    padding: 20px 40px;
    background-color: #9333EA;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}